body,
.offcanvas-body {
	background: #102c54;
}

.cstm-navbar,
.offcanvas-header,
.accordion-button,
.accordion-button:not(.collapsed),
.cstm-btn {
	background: #3b83bd;
	color: #fff;
}

.btn-primary {
	background: #102c54;
}

a:hover {
	color: #3b83bd;
}

.nav-link {
	color: #fff !important;
}

.accordion-item,
.accordion-button {
	border-bottom: solid 0.5px #fff;
}

.accordion-body {
	background: #e3f2fd;
}
