<div class="contanier cstm-container">
    <div class="content-btn">
        <a class="btn cstm-btn" href="/links/">
            <i class="fas fa-reply white-text"></i>
        </a>
    </div>
    
    <div class="row">
        <div class="col-xl-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/edit/{{link.link_id}}" method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="title" placeholder="Title" value={{link.title}}>
                        </div>

                        <div class="mb-3">
                            <input type="url" class="form-control" name="url" placeholder="URL" value ={{link.url}}>
                        </div>

                        <div class="mb-3">
                            <textarea name="description" rows="2" class="form-control" placeholder="Descriptions">{{link.description}}</textarea>
                        </div>

                        <div class="mb-3">
                            <button class="btn cstm-btn btn-block">
                                <i class="far fa-save white-text"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>